RewriteEngine On
RewriteBase /
RewriteRule ^([a-zA-Z0-9!@#$%^&*_-]+)$ events/updateprofile.php?u=$1
RewriteRule ^([a-zA-Z0-9!@#$%^&*_-]+)/$ events/updateprofile.php?u=$1


RewriteRule ^einfo/(.*)$ events/info.php?u=$1 [R]

RewriteRule events/admin006/$ events/updateprofile.php?u=$1
RewriteRule events/admin006$ events/updateprofile.php?u=$1




